.actions-panel {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 10px;
}

.expert-mode-frame {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
}

#developer-view-btn.active {
    background-color: var(--bg-selected);
    color: var(--text-primary);
}

.bulk-actions-frame {
    display: flex;
    flex-direction: column;
    padding: 0;
    color: var(--text-primary);
    background-color: transparent;
}

.bulk-actions-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-self: flex-end;
    gap: 2px;
    color: var(--text-primary);
}

.bulk-actions-buttons .btn-icon {
    width: auto;
    min-width: 35px;
    padding: 5px 10px;
    flex: 0 1 auto;
}

.bulk-actions-info {
    font-size: 11px;
    color: var(--text-primary);
    text-align: right;
    margin-top: 5px;
}


.dev-sync-mod-frame {
    display: flex;
    gap: 8px;
}

.dev-sync-buttons-group {
    display: flex;
    gap: 2px;
}

.dev-sync-buttons-group:not(:last-child) {
    margin-right: 10px;
}
