.bulk-actions-frame {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 10px;
    color: var(--text-primary);
    background-color: transparent;
}

.bulk-actions-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-self: flex-end;
    gap: 2px;
    color: var(--text-primary);
}

.bulk-actions-buttons .btn-icon {
    width: auto;
    min-width: 35px;
    padding: 5px 10px;
    flex: 0 1 auto;
}

.bulk-actions-info {
    font-size: 11px;
    color: var(--text-primary);
    text-align: right;
    margin-top: 5px;
}

.bulk-actions-frame.disabled {
    opacity: 0.6;
}

.bulk-actions-frame.disabled .bulk-actions-buttons button {
    cursor: not-allowed;
    opacity: 0.5;
}
